In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\akkuv\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: urllib3 in c:\users\akkuv\anaconda3\lib\site-packages (from kaggle) (1.26.4)
Requirement already satisfied: python-dateutil in c:\users\akkuv\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\akkuv\anaconda3\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: bleach in c:\users\akkuv\anaconda3\lib\site-packages (from kaggle) (3.3.0)
Requirement already satisfied: requests in c:\users\akkuv\anaconda3\lib\site-packages (from kaggle) (2.25.1)
Requirement already satisfied: six>=1.10 in c:\users\akkuv\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in c:\users\akkuv\anaconda3\lib\site-packages (from kaggle) (4.59.0)
Requirement already satisfied: python-slugify in c:\users\akkuv\anaconda3\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: packaging in c:\users\akkuv\anaconda3\lib\site-packages (from bleach->kaggle) (20.9)
Requirement already satisfied: webencodings in c:\users\akkuv\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\akkuv\anaconda3\lib\site-packages (from packaging->bleach->kaggle) (2.4.7)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\akkuv\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in c:\users\akkuv\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\akkuv\anaconda3\lib\site-packages (from requests->kaggle) (4.0.0)

In [2]:
import kaggle

In [3]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

### Extracting the file from zip file:

In [5]:
import zipfile
file_to_extract = zipfile.ZipFile('orders.csv.zip')
file_to_extract.extractall()
file_to_extract.close()

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\akkuv\\Documents\\SQL and Python project\\orders.csv'

### Exploring the dataset

In [6]:
import pandas as pd
df = pd.read_csv('orders.csv')

In [7]:
df.head(10)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [8]:
df["Ship Mode"].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

Let's replace the columns 'Not Available', 'unknown' with 'nan' (null value)

In [9]:
df = pd.read_csv('orders.csv',na_values = ['Not Available','unknown'])

In [10]:
df["Ship Mode"].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

Let's rename the columns in our dataset:

In [11]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [12]:
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

Let's derive some new columns in our dataset

In [13]:
df["discount"]= df["list_price"]*df["discount_percent"]*0.01
df["selling_price"] = df["list_price"] - df["discount"]
df["profit"] = df["selling_price"]-df["cost_price"]

In [14]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,selling_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

Let's take a look at the datatypes of all columns:

In [15]:
df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount            float64
selling_price       float64
profit              float64
dtype: object

Here we notice that the order_date column has the datatype object, however when we use the SQL server to analyze the data we would want the order_date column to have datatype datetime instead. So let's change the datatype of the order_date column to datetime instead

In [16]:
df["order_date"]=pd.to_datetime(df["order_date"],format="%Y-%m-%d")

Let's again take a look at the datatypes of all columns:

In [17]:
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
selling_price              float64
profit                     float64
dtype: object

The columns list_price and discount_percent seem pretty unnecessary since we have already created new columns: selling_price and discount. I will be dropping these 2 columns.

In [18]:
df.drop(columns=["list_price","discount_percent"],inplace=True)

In [19]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,quantity,discount,selling_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,2,7.2,232.8,22.8

Now let's load the data into the sql server:

In [26]:
import sqlalchemy as sal
engine = sal.create_engine('mssql://DESKTOP-QBPJQNB/master?driver=SQL+Server')
conn=engine.connect()

Load the data into SQL Server

In [27]:
df.to_sql('df_orders',con=conn,index=False,if_exists = 'replace')